.galeriaPrincipal {
    padding: 3rem;

    h1 {
        text-align: center;
        font-size: 3rem;
        padding-bottom: 4rem;
    }

    img {
        width: 30rem;
        height: 30rem;
        border-radius: 1rem;
        transition: all .5s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .imagenes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        justify-content: center;
        justify-items: center;

        @include responsive(pc) {
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }

        @include responsive(tablet) {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }
}
